<h2 mat-dialog-title>Add a New Comment</h2>
<mat-dialog-content>
  <div class="dialog-input">
    <mat-label>Name</mat-label>
    <p class="username-display">{{ userName }}</p>
  </div>

  <mat-form-field appearance="fill" class="dialog-input">
    <mat-label>Comment</mat-label>
    <textarea class="commentContent" matInput rows="4" [(ngModel)]="content"></textarea>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button color="warn" (click)="cancel()">Cancel</button>
  @if (isEditing) {
    <button mat-raised-button color="primary" (click)="submitComment()">Edit Comment</button>
  } @else {
    <button mat-raised-button color="primary" (click)="submitComment()">Add Comment</button>
  }
</mat-dialog-actions>
