.dialog-input {
  width: 100%;
  margin-bottom: 1rem;
}

mat-dialog-actions {
  margin-top: 1rem;
}

button {
  text-transform: uppercase;
}

.username-display {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}
