<h2 mat-dialog-title>Add a New Comment</h2>
<mat-dialog-content>
  <mat-form-field appearance="fill" class="dialog-input">
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="userName" />
  </mat-form-field>

  <mat-form-field appearance="fill" class="dialog-input">
    <mat-label>Comment</mat-label>
    <textarea matInput rows="4" [(ngModel)]="content"></textarea>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button color="warn" (click)="cancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="submitComment()">Add Comment</button>
</mat-dialog-actions>
